[2018-08-13 09:37] Grummfy opened #2 "how to use it?"
Hello,
once configured, how to use it?

[2018-08-13 11:05] Grummfy commented on #2
forget it, I forget to refresh the page ;)

[2018-08-13 11:05] #2 closed

[2018-08-13 11:08] seansackowitz commented on #2
Awesome, let me know if you have any other issues :smile:

[2018-08-14 16:12] dovestyle opened #3 "Setup Troubles"
Hi there!

I think I'm doing something wrong. I've downloaded the release and uploaded it to Mattermost, but the plugin won't activate, telling me that the JitsiURL is not configured. The readme states that it has server & webapp, but I'm guessing maybe the server isn't the Jitsi server? Do I still need to setup a jitsi-meet server separately? If not, what do I set JitsiURL to?

Thanks,
Nick

[2018-08-14 16:15] seansackowitz commented on #3
You can set up your own jisti-meet server if you wish to have an on premises server, but just ensure that you have plenty of resources to handle it, as it is a pretty heavy system when you get several users in a call with screen shares.

If you do not want to set up your own server, there is the example server that jitsi.org hosts, and the url for that is: https://meet.jit.si/

[2018-08-14 16:17] dovestyle commented on #3
Hey Sean, thanks a bunch! That clears everything up! Just had to be sure.

I'll close this so your issue tracker is back to being nice & clean. Thanks again! :)

[2018-08-14 16:17] #3 closed

[2018-08-28 09:04] prodigy7 opened #4 "How to use?"
I've setup our mattermost server with that plugin and also configure the server, but somehow I can't find any function referencing to the jitsi plugin.
How it should work, if everything is right?

Mattermost: 5.2

[2018-09-04 14:15] Signum opened #5 "This plugin failed to start. Check your system logs for errors."
I took https://github.com/seansackowitz/mattermost-plugin-jitsi/releases/download/v1.0.0/mattermost-jitsi-plugin-linux-amd64.tar.gz and extracted it into /var/opt/gitlab/mattermost/plugins

However when enabling the plugin I just get:

    This plugin failed to start. Check your system logs for errors.

Reconfiguring and/or restarting Gitlab/Mattermost did not change anything. The logs don't show

[2018-09-04 15:33] seansackowitz commented on #5
What version of mattermost are you running in GitLab? Version 1.0.0 of this plugin only works with Mattermost version 5.2.0+, due to changes that Mattermost had in their plugin architecture. I will add a check/warning log in this plugin for the version number. You will technically gain more features in this plugin by using an older version, as much re-architecting was required to make it work with

[2018-09-17 20:33] gfriloux opened #6 "Error : We could not start a meeting at this time."
Hello,

I just installed version 1.0.0 on my mattermost version 5.2.1.
Clicking on the camera show the following error message : `We could not start a meeting at this time.`

On the mattermost system console, i can see the following logs :
[code]
Both jitsi-meet and mattermost runs from docker containers.

I don't know where to look to give you more informations.

[2018-09-17 20:40] seansackowitz commented on #6
Hey @gfriloux the only reason that you should get that message is if the meeting URL is not set in the plugin options. If you do have it set, try disabling, and re-enabling the plugin. I will add in an OnConfigurationChange method to capture a url change in the next version.

Let me know how this goes for you!

[2018-09-17 20:42] gfriloux commented on #6
Oh, that was easy.
I had the url set, but disabling/enabling the plugin made it work!

I could have find that myself if i did a little more tests.
Thanks for your amazingly fast answer!

[2018-09-17 21:08] #6 closed

[2018-09-18 11:32] philiplb opened #7 "Clicking "Join Meeting" just opens another Mattermost window"
Hi,
I just entered "meet.jit.si" as server and can start calls now. But when I click on the "Join Meeting" button, it opens a new browser window with the Mattermost instance again with the Jitsi-URL appended: https://mattermost.foo.bar/meet.jit.si/<generatedRoomName> instead of https://meet.jit.si/<generatedRoomName>
What could I do here? If I enter https://meet.jit.si as server, it doesn't work a

[2018-09-18 13:42] seansackowitz commented on #7
Hey @philiplb the url should have https://meet.jit.si as the url, and there have been a few issues that I have been observing, related to the plugin crashing due to the way that golang is converting errors. This was causing a whole host of issues, and I have just released a new version that should fix most of them. Please let me know if this works for you!

[2018-09-18 13:46] seansackowitz commented on #4
Closing as there has been no update for 3 weeks.

[2018-09-18 13:46] #4 closed

[2018-09-18 13:48] seansackowitz opened #9 "Update documentation"
Documentation should be added, and include images for how to use and configure the plugin.

[2018-09-18 13:55] philiplb commented on #7
Hi, thank you for the very fast reaction. Unfortunately the new version of the plugin fails to start (Mattermost 5.3.0):

[2018-09-18 14:05] seansackowitz commented on #7
I would love to know how I uploaded version 0.2.0 as the release, but I verified that I have uploaded the correct files this time. You should be able to download them again from release 1.0.1, and they should work correctly now.

[2018-09-18 14:15] philiplb commented on #7
Works now like a charm, thank you very much!

[2018-09-18 14:15] #7 closed

[2018-10-17 15:04] akomakom commented on #9
Indeed... i tried the plugin from the releases page, couldn't get it to work:
"We could not start a meeting at this time."

It's unclear whether the zoom plugin (which got installed automatically) needs to be enabled (and configured?).   When enabled I get zoom plugin errors in the logs (I don't have a zoom server).

[2018-12-14 08:52] dpointk commented on #6
Thanks for this. I've also had this issue with Zoom plugin. All was set correctly but only after disabling, and re-enabling the plugin the configuration worked.

[2019-01-18 16:25] ybabel opened #10 "Unable to activate plugin"
Hello,
I could not activate the plugin.

Mattermost 5.7
Last version of the plugin uploaded.

` {"level":"error","ts":1547824641.184601,"caller":"app/plugin.go:97","msg":"Unable to activate plugin","plugin_id":"jitsi","error":"unable to copy webapp bundle directory: jitsi: mkdir client/plugins/jitsi: permission denied","errorVerbose":"mkdir client/plugins/jitsi: permission denied\nunable to copy w

[2019-01-23 11:37] ybabel commented on #10
I figured it out :
`chown 2000:2000 ~/mattermost-docker/volumes/app/mattermost/client-plugins/`
resolved the permission issue.

[2019-01-23 11:37] #10 closed

[2019-01-23 12:36] seansackowitz commented on #10
I apologise about the slow response, but I am glad you got it working. Let me know if you have any more issues!

[2019-01-25 10:00] rastapopougros opened #11 "Add a slash command"
The menu entry starts a Jitsi meeting with a random name. That's ok for a quick start in one click.

Suggestion : the plugin could add a slash command with more options, at least to customize the name.

So we could type :

And the Jitsi Bot would display an invitation for the call `[configured server]/myname`

[2019-02-04 17:07] etursunbaev commented on #9
Documentation is highly urgent to be updated.
There is no info how to use it.
As @rastapopougros used default Jitsi server worked for me, but how about other video voice chats and UI ?

[2019-03-14 17:12] emresaracoglu opened #12 "Thank you"
Hi @seansackowitz

Thank you for this plugin!

[2019-03-14 17:12] #12 closed

[2019-03-14 17:12] emresaracoglu commented on #11
Definitely

[2019-03-28 08:45] desertanwar opened #13 "Mattermost plugin does not work"
Hello Seansackowitz,
I have downloaded the plugin for Mattermost server running on Ubuntu 18.4 bionic. When i try to up i get the following error.

Mar 27 18:43:47 lab-mmost1 platform[1032]: {"level":"error","ts":1553712227.977395,"caller":"app/plugin.go:97","msg":"Unable to activate plugin","plugin_id":"jitsi","error":"unable to copy webapp bundle directory: jitsi: stat /opt/mattermost/client/plu

[2019-05-05 23:48] seansackowitz commented on #13
@desertanwar This should be resolved now, but I would appreciate if you could test it. I apologize for the delay in resolving this issue.

[2019-05-06 23:51] 143mailliw opened #14 ""Module not found: Error: Can't resolve 'prop-types'""
ERROR in ./src/components/post_type_jitsi/post_type_jitsi.jsx
Module not found: Error: Can't resolve 'prop-types' in '/home/william341/littrellbox/mattermost-plugin-jitsi/webapp/src/components/post_type_jitsi'
 @ ./src/components/post_type_jitsi/post_type_jitsi.jsx
 @ ./src/components/post_type_jitsi/index.js
 @ ./src/index.jsx
 @ multi ./src/index.jsx

[2019-05-06 23:54] 143mailliw commented on #14
Whoops. my bad figured it out

[2019-05-06 23:54] #14 closed

[2019-05-23 17:22] zodman opened #15 "unable to start plugin: jitsi: JitsiUrl is not configured."

[2019-05-24 18:29] zodman commented on #15
first install

go to settings .. configure the jitsiurl and then enabled!

needs more documentation

[2019-05-24 18:29] #15 closed

[2019-07-03 07:57] nugzarg opened #16 "Please add JWT authentication option"
Hi,
Thanks for the great plugin. It would be nice to have the option to use jitsi with JWT authentication token.

Thanks

[2019-08-26 14:32] aberenyi opened #17 "build fails w/ /bin/shadow: no such file or directory"
Hi there,

First of all thanks for the great plugin.

I've tried to alternate how the random room names are generated, but ran into a weird issue whilst running `make`:

[code]

Any idea what's missing?

Cheers

[2019-08-26 15:01] aberenyi commented on #17
To answer my own (noob) question, the `GOPATH` env variable was undefined.

[2019-08-26 15:01] #17 closed

[2019-11-03 09:24] ageekhere opened #18 "add support for jitsi meet mobile"
Currently when the user clicks on the video link it opens a web browser not the jitsi meet app

[2019-11-03 09:36] ageekhere commented on #11
would be good also to add an option to use a default room name.
e.g. [configured server]/mainRoom

[2019-12-03 12:08] freifunk-bamberg opened #19 "No icon to start Meeting"
I have installes the Plugin 1.2.0 over the Upload in Mattermost, activate this and configure the Server URL.
but no Icon ist shown in Mattermost to start an meeting.

The same is with 1.1.0

What i make wrong?

[2020-01-14 11:07] PackElend commented on #9
That leaves me also a bit clueless, so I don't need to have separate Jitsi server, do I? What are the hardware requirements are not little
https://community.jitsi.org/t/jitsi-dev-whats-the-hardware-requirements-on-server-side/10054/1
https://www.youtube.com/watch?time_continue=73&v=8KR0AhDZF2A&feature=emb_logo

[2020-02-04 13:40] mikebakke opened #20 "Can someone please clarify deployment and configuration?"
Hi

I uploaded the latest tgz and configured to enable and set the Jitsi URL to be the same as my MM server. I did this because in the MM log I could see an error message for Jitsi when the URL was blank.

I can create a meeting in the chat but any attempt to join it opens a new window/instance and with the error message

"Team Not Found
The team you're requesting is private or does not exist. Ple

[2020-02-04 19:22] seansackowitz commented on #20
Hey @mikebakke You should put in the url to a Jitsi server. For example, if you were to use the Jitsi server hosted by the Jitsi developers, you can set the url to `https://meet.jit.si`

[2020-02-04 20:01] mikebakke commented on #20
Hi - thanks for responding. I misunderstood - I thought the plugin also contained a Jitsi server itself hence did not specify the URL initially, but the plugin would not start unless I added it.

I will try with the "meet.jit.si" and sse what happens

Rgds

[2020-02-04 20:08] mikebakke commented on #20
Hi again

ok that worked thanks. I had hoped to be able to host the bridge myself so I guess I need to look wider.

Regards

Mike

[2020-02-04 20:11] seansackowitz commented on #20
If you wish to host the Jitsi server yourself, I can recommend that you give their official docker compose project a try. https://github.com/jitsi/docker-jitsi-meet

[2020-02-04 20:11] #20 closed

[2020-03-20 15:08] w00dst0ck opened #22 "meetingID is allways generateRoomWithoutSeparator"
Many thanks for this plugin.

However, we had to realize that for each meeting a random name is generated.
Is a special Mattermost version required to use the req.topic? Currently we are using version 5.8.0.

[2020-03-21 12:26] laurawadden commented on #22
@w00dst0ck what was your experience setting this up? This project doesn't have updates for at least 11 months, so wondering if everything still works. Thanks in advance.

[2020-03-21 13:32] seansackowitz commented on #22
Hey @laurawadden  Yes, this does still work with all of the latest versions of Mattermost.
@w00dst0ck the plugin is currently set up to only have a random name generated. Is the functionality of having the name consistent based on the room name for example, or some other parameter something you would like to see?

[2020-03-21 13:34] #13 closed

[2020-03-21 13:34] #18 closed

[2020-03-21 15:00] w00dst0ck commented on #22
@seansackowitz Thanks for the feedback.

Since the use of Jitsi is currently increasing rapidly due to Covid-19, it would be great if the following features were added.

* Prefix for the Jitsi room name to avoid double assignments
* Use of the Mattermost room name as Jitsi  room name
* combination of both features

Best regards
Kai

[2020-03-22 07:57] gittigger commented on #9
No, if you set the Jitsi Server URL to https://meet.jit.si it uses the service provided by Jitsi themselves, as others have done.

[2020-03-25 14:03] m-kad commented on #16
This can be closed now?

[2020-03-25 15:20] nugzarg commented on #16
Yes. Thank you very much.

[2020-03-25 15:22] #16 closed

[2020-03-25 16:07] lkraav commented on #19
Same with today's 1.3.0 release.

Is this plugin only for privately hosted Jitsi server?

[2020-03-25 17:49] seansackowitz commented on #19
No, I use it with the jitsi url of `https://meet.jit.si` What is the error log you are getting in the server logs? If there are none showing, then check your client logs in Google chrome by opening the developer console `F12` and looking for any errors there regarding loading the jitsi plugin.

[2020-03-25 18:16] lkraav commented on #19
Aha, I wasn't aware it requires a browser plugin. Will test that next.

[2020-03-25 18:19] seansackowitz commented on #19
There is no additional browser plugin required. Once you install this jitsi plugin, and configure and enable it on your Mattermost server, it will work for all Mattermost users. You should see a camera button in the top right of your mattermost window.
![image](https://user-images.githubusercontent.com/14167060/77571356-9cf13700-6ea3-11ea-993a-03f44adccba7.png)

[2020-03-26 12:19] GabinhoJean commented on #19
Same issue.

I'm am using Mattermost 5.0.0 version inside a container with the docker image  mattermost/mattermost-prod-app:5.0.0

I tried the 1.2.0 and the 1.3.0 but I got no information in the server log and in the browser log.

the only way is that the plugin stays at this state.
![image](https://user-images.githubusercontent.com/38891996/77645854-c40f3d80-6f63-11ea-9102-89e0bdf9cd37.png)

any

[2020-03-26 12:41] seansackowitz commented on #19
@GabinhoJean I think your issue is that you are running 21 versions behind, when plugins have undergone major changes in that nearly 2 years time. If you upgrade to a recent version of Mattermost and still have this problem, then please open a new issue.

If for some reason you absolutely cannot upgrade, then you should try version 0.2.0 of this plugin, as that is the latest version that supports

[2020-03-26 12:49] GabinhoJean commented on #19
Sorry,
I updated Mattermost to the version 5.21.0 and it's working fine.
Thank you

[2020-03-27 15:43] #19 closed

[2020-04-04 13:16] hanzei opened #27 "Add to Plugin Marketplace"
Hi @seansackowitz,

Congratulation on forking the zoom plugin and becoming more popular with this plugin :wink:
Given the current high interest in jitsi, this plugin would be a great addition to the Plugin Marketplace. Would you be interested on submitting your plugin? You can find the process [here](https://developers.mattermost.com/extend/plugins/community-plugin-marketplace/).

[2020-04-09 12:51] alasserr opened #28 "Error when starting docker-make : declaration of "err" shadows declaration at line 98"
**Mattermost Version**
/

**Plugin Version**
Lattest (from Git : 7c04448d7e9dd4bc972bc2364e4b816b579b6c8f)

**Describe the issue**
After cloning the project, nothing has been changed on the files, starting ./docker-maker : it stops with this error :

**Additional context**
I runned the same code a few days ago and everything worked fine. Has "#github.com/mattermost/mattermost-plugin-demo/server" r

[2020-04-20 07:45] flobiree opened #29 "Plugin doesn't work on a non-root installation of Mattermost"
**Mattermost 5.21.0**

**Plugin Version 1.3.0**

**Describe the issue**
My Mattermost installation is not at the root of the virtual host, but on a subfolder (say /chat/). Mattermost works well in this setup, but not the Jitsi plugin, which continue to call an url on /plugins/jitsi instead of /chat/plugins/jitsi.

I changed the file webapp/src/client/client.js (line 5, this.url) where this url is

[2020-04-21 07:27] rbdevr opened #30 "Jitsi strange room names"
Why the strange room names? Why not use the current channel name as room in jitsi?

[2020-04-21 07:32] rbdevr opened #31 "Please make it work on Mobile Apps"
This is a great plugin. I have my self hosted mattermost and jitsi and I'm pleased to finally see some integration.

But most of the users, like myself, use mobile/desktop apps. Therefore we need this plugin working on them too.

Also the ability to open jitsi-meet mobile app by pressing the "go meeting" button in MM would be pretty neat.

Cheers,

[2020-04-21 12:04] seansackowitz commented on #30
It uses "strange" room names because if you are using a public jitsi server such as https://meet.jit.si, then you are highly likely to run into other people's meetings, unless you use something pseudo random. So, I took a similar algorithm to what meet.jit.si uses to generate room names, and used it here.
There is consideration about adding additional room name generation types, so if you have a s

[2020-04-21 12:04] #30 closed

[2020-04-21 12:15] seansackowitz commented on #31
Hey, I do myself use both of the mobile apps, and do not have any issues with the meeting opening in Jitsi. You do need to make sure that you configure the Jitsi Meet app on your phone to open those links first however. As I don't know what type of phone you have, I would recommend asking for more details on how to change the default links that Jitsi Meet opens on their community forums if you hav

[2020-04-21 12:15] #31 closed

[2020-04-21 13:36] rbdevr commented on #31
I use iOS.

"you configure the Jitsi Meet app on your phone" I don't think thats the case.

ask in their community forum is the best bet.

[2020-04-21 13:46] seansackowitz commented on #31
Sorry, I don't have an iPhone, so I cannot help you with that. As for adding a "Start Meeting" button on mobile, that is not currently possible as per mattermost's plugin documentation. see: https://developers.mattermost.com/extend/plugins/mobile/
The way that Android handles opening the link, is that it automatically captures the URL, and if it matches a specific pattern, say `https://jitsi.examp

[2020-04-21 13:48] rbdevr commented on #22
Please have the option to use mattermost channel names or random names set in MM system console.

Why close the ticket if its still under analisys?

[2020-04-21 13:59] rbdevr commented on #31
Its possible with the app but the app needs to register he is working on a specific URL.

In regards to MM plugin I did create a post there. aits going to be a bummer if its really not possible since there are many devs asking for this feature for years now.

https://forum.mattermost.org/t/mm-plugins-available-on-mobile-apps/9563

[2020-04-24 17:28] trainguyenx opened #32 "add meeting password directly on creation that is shown in mattermost post"
Hi,
It would be cool to be able to create the meeting along with the password.

Thanks for your effort to make this awesome plugin.

[2020-05-09 03:06] rbdevr commented on #22
How is this coming along? Any progress?

[2020-05-18 16:28] arunvc commented on #28
though ./docker-make gives you error,
this works
[code]

[2020-05-19 10:47] jespino commented on #28
It depends a bit on the environment, but clearly we should fix the shadowing problem here, I'll make a PR later to fix this. Thanks for the heads up @alasserr

[2020-05-19 11:12] #28 closed

[2020-05-19 12:51] #29 closed

[2020-05-19 13:33] #11 closed

[2020-05-19 15:08] #22 closed

[2020-05-19 15:11] jespino commented on #27
@hanzei can you confirm if this is already done?

[2020-05-20 18:58] hanzei commented on #27
@jespino No, the plugin is not yet in the Marketplace. I can take care of that once a new release is cut.

[2020-05-20 20:17] jespino commented on #27
@hanzei Great!

[2020-05-21 08:42] hanzei opened #43 "Sync with mattermost-plugin-starter-template"
https://github.com/mattermost/mattermost-plugin-starter-template

[2020-05-21 19:48] #9 closed

[2020-05-22 19:06] jasonblais opened #45 "Proposal: Meeting naming schema"
Currently, we have the following meeting naming options:

1. english-titlecase
2. english-kebabcase
3. uuid
4. digits
5. letters
6. teamchannel
7. teamchannel-salt

Following [Hick's Law](https://en.wikipedia.org/wiki/Hick%27s_law), we aim to [limit the number of choices to 3 or 4](https://docs.mattermost.com/developer/fx-guidelines.html#display-number-of-choices). I would like to apply this law f

[2020-05-24 14:22] jespino commented on #32
I'm not 100% sure about this approach, the problem with this is, there is no difference between this and a randomly generated id, like uuid

[2020-05-25 14:58] jasonblais commented on #32
@jespino I heard this suggestion from another Jitsi user as well. They would like to have a password for added privacy while keeping a simple name to easily share the meeting link with others.

However, agree that we should think more about the use cases, given using a UUID or another randomly generated sequence of strings accomplishes something similar.

Some more notes from Jitsi on usage of pas

[2020-05-25 14:58] jasonblais commented on #43
@hanzei FYI that @jespino opened a PR at #44

[2020-05-25 15:58] #45 closed

[2020-05-25 16:41] jasonblais opened #47 "UI improvements for Jitsi meeting post when meeting link valid for set amount of time"
**Observed**

![image](https://user-images.githubusercontent.com/13119842/82830751-902d9700-9e84-11ea-856e-ba214f5ac297.png)

**Proposed changes**

1 - Move "Meeting link valid ..." text to below the "Join Meeting" button, as shown below.

![image](https://user-images.githubusercontent.com/13119842/82830639-5066af80-9e84-11ea-8dc8-3092cb09e001.png)

Why? On narrow screens, the text can wrap on mul

[2020-05-25 17:26] jasonblais commented on #47
@jespino This one is small polish that would be good to include in v1.4 as it appears for all calls using the JWT auth.

[2020-05-25 21:34] jasonblais commented on #47
Resolved by #50

[2020-05-25 21:34] #47 closed

[2020-05-26 11:06] hanzei commented on #43
@jespino Assigning to you given that you already submitted a PR

[2020-05-26 12:44] jespino opened #52 "Migrate to Typescript"
Migrate the javascript code to use Typescript instead.

[2020-05-26 12:48] jespino opened #53 "Add per user configuration"
Allow the user to configure its own preferences, like kind of channel, or in the future, if he/she wants to open it in a separate window or embedded in the application.

[2020-05-26 13:36] aaronrothschild commented on #53
@asaadmahmood Something to consider in future, for example Tabs for bots to set the settings.... :)

[2020-05-26 13:39] jespino commented on #53
I would love to have something like "plugin user config" sections, nothing super special, but if I have a plugin have the hability to register a plugin settings component, and show that plugin setting component in the AccountSettings > Plugins > MyPlugin, would be great. That way the user can configure the settings of his plugin without the need of any slash command, and can easy to discover all t

[2020-05-27 12:48] #43 closed

[2020-05-28 10:28] hanzei opened #59 "make test fails"
[code]

[2020-05-28 10:28] hanzei commented on #59
@jespino Could you please take a look?

[2020-05-28 10:28] hanzei commented on #52
@jespino Was this completed with https://github.com/mattermost/mattermost-plugin-jitsi/pull/56?

[2020-05-28 10:29] jespino commented on #59
@hanzei yes, we don't have tests yet, I probably have to set up the initial structure for have tests in the webapp and server code.

[2020-05-28 10:33] jespino commented on #52
Yes it was

[2020-05-28 10:33] #52 closed

[2020-05-28 12:04] jasonblais commented on #53
@jespino Is this for the `Ask me` migration to a user setting? If so, we talked about starting with a slash command like `/jitsi settings` and moving the option out of the server-level config setting.

[2020-05-28 12:13] jespino commented on #53
yes, exactly, I was thinking about that. Probably we can have a conversation about changing the slash command, because I think the proper option is tu have "sub-commands", for example `/jitsi meet` is going to generate a new meeting, `/jitsi config` is going to allow you to config your personal settings, and we can expand this with something like `/jitsi schedule 2020-08-23 --repeat weekly` to sch

[2020-05-28 12:15] jasonblais opened #60 ""/jitsi help" starts a Jitsi meeting with topic "help", instead of giving help for the /jitsi command"
This behaviour started after https://github.com/mattermost/mattermost-plugin-jitsi/pull/41, which renamed the slash command to `/jitsi`.

There are a few options:
1. Name the command back to `/meet`. May conflict with other video meeting plugins, also inconsistent with other integrations like [Slack-Jitsi integration](https://jitsi.org/slack/)
2. Require user to type `/jitsi start` or `/jitsi meet

[2020-05-28 13:25] #59 closed

[2020-05-28 13:37] jespino commented on #60
Ok, what about this:

1. If you run `/jitsi` is going to create a based on your meetings creation configuration.
2. If you run `/jitsi help` is going to show the help.
3. If you run `/jitsi config` is going to show you the help for the config command`
4. If you run `/jitsi config meeting_name=ask embed=false` is going to config the meeting name generation to ask and the embed to false.
5. If you r

[2020-05-28 14:43] jasonblais commented on #60
I like it, two notes:

a) I'd propose `/jitsi settings` instead of `/jitsi config` because we use "settings" in other slash commands. It's also more clear for the user.
b) We may not need `/jitsi config wizard`. We could open the message attachment when the user types `/jitsi settings`. The attachment can include the help + actions.

[2020-05-28 21:09] jasonblais opened #63 "Migrate Jitsi plugin to use bot accounts"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jitsi" community channel](https://community-release.mattermost.com/core/chan

[2020-05-28 21:16] jasonblais commented on #63
Discussed with Jesús - by migrating to using bot accounts, the user cannot remove/delete a meeting they may have posted by an accident. This is a limitation in the existing Zoom plugin.

We can migrate to bot accounts when there is a concrete use case for it, such as for scheduling meetings. Closing.

[2020-05-28 21:35] hanzei commented on #63
Should a bot account be used for the ephemeral posts the plugin sends to the user?

[2020-05-29 00:38] jasonblais commented on #63
We could use a bot for ephemeral messages, yes

[2020-05-29 08:11] jespino commented on #63
Yes, very good point

[2020-05-29 10:53] jespino commented on #60
Done in master branch

[2020-05-29 10:53] #60 closed

[2020-05-29 10:54] jespino commented on #53
Added through slash commands, is enough for now, probably we can add a configuration wizard based on the works from @larkox in the calendar plugin.

[2020-05-29 10:54] #53 closed

[2020-05-29 10:59] jespino opened #65 "Add configuration wizard"
Add a configuration wizard triggered by an slash command and working as slack attachment actions (we can use the `flow` library build by @larkox here: https://github.com/larkox/mattermost-plugin-utils)

[2020-06-03 10:54] mozzieongit opened #76 "Plugin not working in sub paths (example.org/mattermost/)"
**Mattermost Version**
5.21.0

**Plugin Version**
1.3.0

**Describe the issue**
The Plugin doesn't work in sub paths.

**Server Error Logs**
None

**Chromium Error Logs** (I replaced my server with {DOMAIN})

jitsi_72139af559ab6c74_bundle.js:1 POST https://{DOMAIN}/plugins/jitsi/api/v1/meetings 404 (Not Found)
R._end @ jitsi_72139af559ab6c74_bundle.js:1
R.end @ jitsi_72139af559ab6c74_bundle.js:1
(

[2020-06-03 11:11] jespino commented on #76
Thanks for issuing this bug, it is already solved for the next version (1.4), you can try it building the plugin from the master branch or wait until is released, probably it will be soon, maybe the next week.

[2020-06-03 11:11] #76 closed

[2020-06-03 11:14] mozzieongit commented on #76
Ok, thanks

[2020-06-03 12:31] mozzieongit commented on #76
When will v1.4.0 be released?
I have problems building (docker-make says golangcli-lint not installed | make throws error when testing with npm)
Or could you build it for me?

[2020-06-03 12:35] jespino commented on #76
@mozzieongit sorry, I normally use the regular `make dist` I going to test the docker image and script to verify it. and yes, I can build a tar.gz for you, can you send me an email to `jesus@mattermost.com` and I'll reply to you with the file. Anyway, I going to try to fix the docker approach ASAP.

[2020-06-03 13:08] jespino commented on #76
@mozzieongit now should be fixed, can you try again?

[2020-06-03 13:09] jespino opened #78 "Add i18n support"
Add support for translate the plugin to other languages, probably starting with english and spanish.

[2020-06-03 13:16] mozzieongit commented on #76
Worked. Thank you

[2020-06-03 13:45] jasonblais commented on #78
If anyone is interested helping with this enhancement, here is an article on how a Matterpoll plugin is localized in 6 different languages: https://mattermost.com/blog/localizing-matterpoll/

[2020-06-03 18:01] jespino commented on #78
Added the frontend part work here #79

[2020-06-04 12:27] jasonblais opened #80 "Add a screenshot to README file showing Jitsi video embedded inside Mattermost"

[2020-06-04 21:06] DHaussermann opened #84 "Jitsi link don't expire as expected"
When creating a Jitsi link, the post says the post is valid for 30 minutes ex: `Meeting link valid until: Thu Jun 04 2020 07:07:58 GMT-0400 (Eastern Daylight Time)`

But you can go back and join meeting IDs that are several hours or days old. This is a bit confusing and I'm not sure of the expected behavior should be, particularly for Personal meeting types where the meeting ID never changes so th

[2020-06-04 21:14] jespino commented on #84
Yes, actually is a tricky thing, probably is not very clear, and probably shouldn't be exposed this way, or at least take an action after that time. The thing is, if you create a meeting with JWT, the JWT have a timeframe where it is valid. The link still work, but the JWT is not accepted. That means, in an environment where you requires to be validated to access a meeting, the link is not going t

[2020-06-04 21:27] DHaussermann commented on #84
Thanks @jespino a related question: Does Jitsi support some type of webhook event that could update  a post once it's expired? It's a bit strange because it's not clear to me when jitsi meeting actually end. So not sure what other time it would be appropriate for the post to update.

[2020-06-04 21:36] jespino commented on #84
Is not supported by jitsi for now, probably we can try to add that feature to the jitsi backend, but currently is not there.

There is an API that is not very usable from go, but I have to investigate a bit more around that.

[2020-06-05 21:19] DHaussermann opened #85 "Buttons for Enable Camera and Microphone as well as hang-up are not working"
I am seeing an issue today where the buttons for Enable Microphone, Enable Camera and Hang Up are not working. They seem unresponsive when I click them.

I have tested this on desktop and browser and with embedded `true` and `false`

I did not see this issue yesterday. I'm not sure is the build has changed or if something on my user could be causing this. Possibly it's not prompting me to grant pe

[2020-06-05 21:28] DHaussermann opened #86 "/jitsi settings naming_scheme for 'word' is incorrect"
The command for `word` naming scheme is inconsistent with the help text

The help says you can select this naming scheme by setting it to `word` but when you try to do this you see that the setting is actually `english-titlecase` .

We should either update the help text to reflect the name `english-titlecase` or change the name to `word` so the command and help text match.

Steps:
- Read help text

[2020-06-05 21:34] DHaussermann opened #87 "Unable to set preset meeting naming scheme as Personal IDShould you be able to set n"
There seems to be no way to preset your meeting naming schemes to `Personal ID`.

You can create meeting with a personal ID naming scheme when it is set to `ask` as there is a button to do so. But Personal ID is not available as a preset naming scheme

0/5 this may be by design to prevent users from unintentionally posting their meeting ID. Please confirm desired behavior.

[2020-06-05 21:47] DHaussermann opened #88 "Meeting ID link will not show if topic does not contain an alpha-numeric character"
There is an edge case where if you create a meeting with a topic that does not contain an alpha-numeric character, no meeting ID link will be generated for the post as special chanters are removed.

This is very much an edge case and very low impact as the join link is still displayed. We could consider validating the slash command such that "topic" requires an alpha-numeric character.

Steps:
- t

[2020-06-05 21:51] jasonblais commented on #87
There is also no way to preset naming scheme to use a channel name/ID.

The two (channel name, personal ID) are currently combined in the `mattermost` schema option, and are set based on the context of the meeting (posted in a DM/GM or a public/private channel).

It does feel a bit inconsistent, but I don't feel strongly one way or another. We could break the `mattermost` naming scheme into two op

[2020-06-05 21:58] jespino commented on #87
I think make sense to have the option of "Personal ID" always, but I don't see the option of "Channel Name" always, the "mattermost naming scheme" is exactly for that, use it based on the context, because the "Channel Name" is not something sensible for DMs and GMs. Actually the "Ask" option doesn't allow you to use the channel name for DMs and GMs, that option is removed from the list.

We didn't

[2020-06-05 22:00] jespino commented on #88
Yes, good catch, clearly we should validate that.

[2020-06-05 22:03] jasonblais commented on #87
Right, I remember now. I'd lean towards leaving it and we can improve if we get requests / feedback from the community.

[2020-06-05 22:06] jespino commented on #85
Looks like a problem in Jitsi code/installation, not in mattermost-plugin-jitsi code.

[2020-06-05 22:13] jespino commented on #87
@jasonblais then, we can close this as wont fix for now?

[2020-06-05 22:14] DHaussermann commented on #85
FWIW I did not repro this on my local server using the public cloud instance when I build the plugin from `master`

[2020-06-05 22:17] #87 closed

[2020-06-05 22:22] jespino commented on #85
Mmmm, that is weird

On Sat, Jun 6, 2020 at 12:15 AM Dylan Haussermann <notifications@github.com>
wrote:

[2020-06-05 22:24] jespino commented on #85
Can you reproduce it using your plugin locally, but using the https://omnibus-jitsi.dev.spinmint.com for jitsi?

[2020-06-05 22:28] DHaussermann opened #91 "RN Only - Meeting posts with Mattermost naming scheme have broken links on RN"
When a meeting post with naming scheme of mattermost is shown on RN for a Jisti meeting, the full link is shown. The link includes ALL parameters appended to the address. This looks broken. I think the link text is showing up as plain text and the href address has become the link.

Steps:
- Create a meeting with naming scheme of mattermost
- View the meeting post on RN
**Observed**:
![MobileLinks]

[2020-06-05 22:32] jespino commented on #91
Actually, looks like an inconsistency on how mattermost renders the links in RN. I think I can solve the problem, but anyway probably we can file a ticket for RN to render properly this kind of "not-so-well" formed links.

[2020-06-09 12:00] chillenkoetter opened #97 "Running mattermost + Jitsi Plugin in a subdir returns 404"
When running mattermost in a subdir, the jitsi plugin is not working.

Same as described here: https://github.com/mattermost/mattermost-server/issues/14106 and https://github.com/mattermost/mattermost-plugin-zoom/issues/96

[2020-06-09 12:02] jespino commented on #97
This is solved in the new plugin version that is going to be released soon.

[2020-06-09 12:02] #97 closed

[2020-06-09 12:21] hanzei opened #98 "Add slash command autocomplete functionality"
From 5.24 MM server has a slash command autocomplete functionality feature. An API can be found [here](https://github.com/mattermost/mattermost-server/blob/master/model/command_autocomplete.go#L28)
To implement the feature add `AutocompleteData` struct to the `Command` when registering a slash command.

Similar PRs:
For Todo plugin https://github.com/mattermost/mattermost-plugin-todo/pull/69
For A

[2020-06-10 12:26] hanzei opened #99 "Create meeting post should use username and icon"
Instead of using `Jitsi` as the username and the zoom icon as profile icon, the post should just use the normal username and icon

![Screenshot from 2020-06-10 14-25-31](https://user-images.githubusercontent.com/16541325/84267473-66cc6680-ab26-11ea-8466-8fdbad7336ea.png)

[2020-06-11 09:02] #99 closed

[2020-06-11 13:14] #91 closed

[2020-06-11 13:19] #86 closed

[2020-06-11 13:28] jespino commented on #88
Fixed #96

[2020-06-11 13:28] #88 closed

[2020-06-11 13:29] jespino commented on #78
Done with #79 and #81

[2020-06-11 13:29] #78 closed

[2020-06-13 11:33] jespino opened #109 "Add a section in the README about how to contribute with a new translation."
Explain how you can add a new translation to the plugin at the bottom of the README file.

[2020-06-15 09:07] hanzei commented on #109
@jespino Feel free to take inspiration from https://github.com/matterpoll/matterpoll/blob/master/CONTRIBUTING.md

[2020-06-15 16:06] jespino opened #110 "Add validation to empty JitsiUrl in the admin console"
To allow have this JitsiUrl validation we need to add a custom settings panel that allows this kind of validation.

[2020-06-15 16:12] nathanaelhoun commented on #98
Hello ! I take this one :-)

[2020-06-15 16:19] jespino commented on #110
This open the possibility of translate the jitsi admin configuration

[2020-06-15 16:36] jespino commented on #98
@nathanaelhoun Awesome! By the way, is important to understand that it only works properly with 5.24, so you maybe need to upgrade the go.mod file to use the 5.24 version that is going to be released tomorrow (I think).

[2020-06-15 17:29] nathanaelhoun commented on #98
Thanks for the precision @jespino ! I will work with the `v5.24-rc3` dependency for today, and I will upgrade it to 5.24 tomorrow (can't wait to update my server :grin:)

[2020-06-16 09:19] nathanaelhoun commented on #63
Hello, I take this one :-)

[2020-06-16 19:24] #63 closed

[2020-06-24 19:19] DHaussermann opened #120 "Unable to to enable video camera on Mac desktop when Jitsi is embedded"
When using Jitsi with `Embed Jitsi video inside Mattermost` I'm not able to turn on my camera when using Mattermost Mac OS desktop client v4.5.0 Running build https://github.com/mattermost/mattermost-plugin-jitsi/commit/013533b3f7a835e4cb279a8b3c6cf119b6625038

I see the follow error message
![Screen Shot 2020-06-24 at 2 32 13 PM](https://user-images.githubusercontent.com/35588783/85617851-ea5d7b8

[2020-06-24 19:29] DHaussermann opened #121 "Unable to share screen when using Jitsi embedded in desktop app"
When using Jitsi in desktop, the app is unable to find any screens to share. The app just continues to show a spinner while looking for desktops or apps to share. This only repros when using Jisti embed into desktop with Embed Jitsi video inside Mattermost

I reproduced this on the latest desktop release v4.5.0 on Windows 10 and Mac OS

Steps:
- Setup Jisti
- Enable `Embed Jitsi video inside Matte

[2020-06-24 20:16] DHaussermann opened #122 "Launching Jitsi in the small window by default sometimes has poor UX due to Chrome dialogues"
When you enable `Embed Jitsi video inside Mattermost` it seen to default to the smaller corner window rather than the full window. This makes for a cleaner UX but, there are some cases where it's not very usable because Chrome opens a dialogue to prompt you for access to camera and mic or to inform you of a jitsi plugin you can install.

It is then not possible to use the window without dismissing

[2020-06-24 20:24] DHaussermann opened #123 "Radio box for Jitsi Meeting Names has no option set by default"
When you first install and enable the Jitsi plugin and enable it the there is no value set for the radio field `Jitsi Meeting Names`. This is very minor since you can simply set it. Without setting the value, the app seems to behave as though `Random English words in title case (e.g. PlayfulDragonsObserveCuriously)` is set? Users will get this option by default until they update the setting.

![Sc

[2020-06-24 20:32] jespino commented on #121
@DHaussermann this is probably due security restrictions of the desktop app. @Willyfrog can you verify that? Is there a way that we can open that from a plugin? Can we trigger somehow asking the user for permission like the browser does? @jupenur from the security point of view, should we allow this from the desktop app?

[2020-06-24 20:33] jespino commented on #120
@DHaussermann yes, looks like permissions related like the share screen problem seen before.

[2020-06-24 20:36] jespino commented on #120
I can explicitly try to request permissions using `https://www.electronjs.org/docs/api/system-preferences#systempreferencesaskformediaaccessmediatype-macos`

[2020-06-24 20:37] jespino commented on #122
yes, probably we can handle that when we get in the `minimized-mode` in the Jitsi upstream.

[2020-06-24 20:44] Willyfrog commented on #121
Are there any errors in the console?

Plugins are expected to be load in a pop-up window, while the main window only expects to load resources related to the team (`/api` is excluded for example)

Regarding permissions, that are already granted. On Mac there might be some tweaks needed as it needs a manifest file for mic and video permissions and we are not shipping it currently, but permissions s

[2020-06-24 20:44] jespino commented on #120
Camera is working for me in desktop app 4.4.0 in Arch Linux, maybe is mac thing

[2020-06-24 20:44] jespino commented on #121
That is failing for me in Linux too.

[2020-06-24 20:51] Willyfrog commented on #121
Is there a public instance where I can take a look? Or dm the details if it's not public

[2020-06-24 20:51] DHaussermann opened #124 "Add info to admin UI that Embed Jitsi video inside Mattermost and Jitsi Meeting Names do not restrict behavior"
The admin UI could be a bit more clear that setting an option for `Embed Jitsi video inside Mattermost` and `Jitsi Meeting Names`  is only adjusting preset options for new users. Some admins could get the impression that these options are disabling or restricting the behavior of the plugin.

0/5 This feels a bit subjective. Maybe to others it's obvious that you're only manipulating the presets. Bu

[2020-06-24 20:53] jupenur commented on #121
@Willyfrog this is the UA string bug again, right? We patched the popup window, but the main window still uses the custom UA string that breaks Jitsi?

[2020-06-24 20:59] Willyfrog commented on #121
I thought about it, and that's one thing I want to test, but the main window only adds two elements to the UA, the chrome part is the one passed from electron.
In the other issue, jitsi was using the popup window which removes chrome's version string to trick oauth

[2020-06-24 21:00] jupenur commented on #121
I can have a look tomorrow if you like, since I've already worked on both this plugin and Jitsi stuff in the desktop app.

[2020-06-24 21:03] DHaussermann commented on #85
I have done some smoke testing today and can no longer reproduce this.
- Tried new incognito session as well
- Tried denied access ti jitsi webapp for my camera and mic
I can no longer repro this.

@jespino any thoughts on if we're okay to close this as it is no reproducing on https://omnibus-jitsi.dev.spinmint.com and never reproduced on the public cloud.

[2020-06-24 21:19] jespino commented on #85
@DHaussermann yes, I think is perfectly fine, looks like more a temporary problem or some kind of configuration problem.

[2020-06-24 21:19] #85 closed

[2020-06-24 21:22] jespino commented on #124
@jasonblais do you mind to take a look to this?

[2020-06-24 21:30] jespino commented on #123
@DHaussermann maybe are you using the old config file with the jitsi config settings? we have changed the default key from one option to another, and I removed the whole config section for the jitsi plugin and enabled it again, and now the default setting is there. I think is not a bug, is a problem with old config settings.

[2020-06-25 02:46] jasonblais commented on #124
How's https://github.com/mattermost/mattermost-plugin-jitsi/pull/125 @DHaussermann and @jespino?

[2020-06-25 06:50] jupenur commented on #121
This would be the cause: https://github.com/electron/electron/issues/16513

[2020-06-25 08:57] Willyfrog commented on #121
if that is the case, we could try creating a build adding [this](https://github.com/electron/electron/issues/16513#issuecomment-602070250) to the preload screen and see if that fixes it

[2020-06-25 09:01] Willyfrog commented on #121
also, I don't see the tag for v8, does that mean it is fixed in later versions? if so, I have [this branch](https://github.com/mattermost/desktop/tree/MM-25765_electron-8) which is the upgrade to v8. Bear in mind that the upgrade is not yet completed, so something might break, but if someone wants to try it, let me know.

[2020-06-25 09:07] jupenur commented on #121
I don't think it's fixed in v8 either. As for the preload polyfill, that won't work in an iframe unless you set `nodeIntegrationInSubFrames` to `true` and that doesn't seem like something we'd want to do.

[2020-06-25 10:11] Willyfrog commented on #121
i did a quick test with the electron8 branch and looks promising, but I didn't have anyone to talk to...
<img width="1644" alt="Screenshot 2020-06-25 at 12 09 48" src="https://user-images.githubusercontent.com/1515906/85700698-eccade80-b6dc-11ea-8e06-f0bdb972ce64.png">
it asked me for permissions to access video and audio, which it didn't in 4.5 (electron v7)

[2020-06-25 12:00] amyblais commented on #120
Please see some additional details here https://github.com/mattermost/desktop/issues/1330#issuecomment-649377999.

[2020-06-25 13:42] jespino commented on #124
@jasonblais LGTM :)

[2020-06-25 14:12] #124 closed

[2020-06-25 14:13] jasonblais commented on #124
@jespino can you help with permissions for Dylan?

[2020-06-25 15:09] jespino commented on #124
@DHaussermann can you try now, I added you as `maintainer` of the repo, I think should grant you permissions for that.

[2020-06-25 15:14] jespino opened #126 "Use the last version of the logo"
The logo used for the bot is an old version. We have to use the newest version (probably the blue one).

[2020-06-25 15:27] DHaussermann commented on #124
Thanks @jespino that solved it 👍

[2020-06-25 21:49] jasonblais commented on #126
@jespino https://github.com/jitsi/jitsi-meet/blob/master/images/jitsiLogo_square.png might be a good source

[2020-06-27 15:45] jespino commented on #126
Done

[2020-06-27 15:46] jespino commented on #122
As far as this is part of the embedded (experimental) feature, and it depends a lot on the Jitsi side of the things, I going to defer it until 2.1.0 (Unless @jasonblais is against it?)

[2020-06-27 18:59] jasonblais commented on #122
I'm okay with v2.1, but this is a great find Dylan for us to improve on

[2020-06-28 12:43] hanzei commented on #126
See https://github.com/mattermost/mattermost-plugin-jitsi/commit/36562894d5a1fac9f9af3d53270f7742cb4fb3ca#r40219866

[2020-06-28 13:41] jespino commented on #126
@hanzei Thanks! very good catch, I didn't know it. Now is fixed, and with a better logo version (the one used for the mobile icon).

[2020-06-28 14:22] #126 closed

[2020-06-28 19:20] DHaussermann commented on #123
@jespino it seem's you're correct. On the current master branch with a fresh install, this issue does not occur

I would suggest we can close this issue.

[2020-06-28 19:55] #123 closed

[2020-06-30 19:48] mzealey opened #129 "When setting to small window in mattermost, SENT video quality gets reduced"
Mattermost Version - latest docker images

Plugin Version - 2.0.0

**Describe the issue**

When using jitsi from within mattermost in the full screen overlay, quality gets SENT at ~1024x550, when i shrink to using the corner overlay the SENT drops to ~300x200. I believe this is a bug and the send quality should stay the same but perhaps the receive quality should get lowered.

[2020-06-30 21:35] jespino commented on #129
Yes, totally agree, the intention was to reduce the receive video quality instead of the sent video quality, I'll take a look into this and I think we can create a 2.0.1 release for that. Thanks for the feedback.

[2020-07-01 06:24] jespino commented on #129
Now I see it, the video quality for receive/sent is set in the same call in the Jitsi external API, so is not possible to set the input video quality without setting the output video quality to the same value (from the external API perspective) I think the most sensible approach is to remove that change, and talk with Jitsi people to see if they can split that in the API or any other solution.

[2020-07-01 06:33] jespino commented on #129
This is now fixed on master.

[2020-07-01 06:33] #129 closed

[2020-07-01 11:19] mzealey commented on #129
thanks, I have raised an issue in jitsi repository above

[2020-07-02 06:06] #27 closed

[2020-07-02 06:17] hanzei opened #130 "Jitsi Shortcuts don't work in embedded mode"
**Mattermost Version**
5.24.0
**Plugin Version**
v2.0.0
**Describe the issue**
When a meeting is open in embedded mode the Jitsi keyboard shortcuts like `c` to open the chat don't work.

**Server Error Logs**
None
**Google Chrome Error Logs**
None
**Screenshots**
N/A

**Additional context**
N/A

[2020-07-02 06:18] hanzei opened #131 "Add shortcut to close embedded window"
Hitting e.g. `ESC` should close the window. That would help with quicker switching back to Mattermost.

[2020-07-02 07:31] jespino commented on #130
It was working for me when was focused, for example the m shortcut for mute in the desktop app.

[2020-07-02 09:10] jespino commented on #130
I tested in community with the desktop-app, and it works for me (but needs to have the focus on the jitsi window). I going to verify it in chrome.

[2020-07-03 06:43] hanzei commented on #130
My bad, focusing the Jitsi screen enabled the shortcuts.

[2020-07-03 06:43] #130 closed

[2020-07-06 13:51] #80 closed

[2020-07-06 14:27] Centzilius opened #133 "Option to make the embedded view larger"
**Mattermost Version**
5.24.2
**Plugin Version**
2.0.0
**Describe the issue**
The embedded view is a bit small for some elements and most things are too large for the default size window (might be related to custom jitsi server). Especially our jitsi server asks to log in if nobody is in the room and that is way too small. It would be great to adjust the size in the server/user config.

**Screensh

[2020-07-06 15:24] jespino commented on #133
Yes, we can increase the size of the minimized view a bit, and probably it can help with this kind of messages, but our goal is to include in Jitsi itself a "minimized" mode view, that show things in the right way, hiding certain things, showing others in smaller size (like the icons or the jitsi logo) and probably optimizing the send/receive video quality knowing that is minimized.

@jasonblais W

[2020-07-06 15:29] jasonblais commented on #133
@Centzilius Thanks for the feedback!

@jespino I'm okay increasing the pixels a little until Jitsi includes the minimized mode? We could make it the width of the RHS, if that's enough space?

![image](https://user-images.githubusercontent.com/13119842/86610926-fcb7ad80-bf7b-11ea-9975-ec3dba514f82.png)

[2020-07-06 16:24] jespino commented on #133
I changed it from 320x240 to 384x288 (same proportion, but now is more adjusted to the RHS on mid-size screen (big size screen is even wider the RHS). I think that 64x48 extra pixels perfectly can do the trick with this problem. @Centzilius do you mind to try it?

[2020-07-06 16:25] jespino commented on #133
The changes are already on the master branch.

[2020-07-06 16:33] Centzilius commented on #133
It's better although the dialog is kind of cut off for some reason but acceptable.
![image](https://user-images.githubusercontent.com/1499392/86617126-17f3de80-bfb7-11ea-934c-0aaf60a6c424.png)
![image](https://user-images.githubusercontent.com/1499392/86617192-3063f900-bfb7-11ea-8d2d-6b79d63eb9e5.png)

[2020-07-06 16:36] Centzilius opened #134 "[Feature Request] Abillity to set static room name/url for specific channel"
Hi, would it be possible to specify a specific jitsi url / meeting name for a channel?

[2020-07-06 16:47] jespino commented on #134
That would be a new feature, what is the problem that you want to solve? What is the use case?

[2020-07-06 18:38] Centzilius commented on #134
We have a channel for our regular (online) meetups and the jitsi link is already distributed and always stays the same (we marked the jitsi conference as permanent on the jitsi internal jabber server). It would be nice to be able to click on the conference button in the corresponding mattermost channel so that everyone knows that the meetup has begun.

[2020-07-06 18:45] jespino commented on #134
@Centzilius Yes, that makes a lot of sense, actually I was thinking about the concept of schedule meeting that would work similar to that, except for the fact that you don't need to click the button at all. My point with that is, if is a recurrent meeting, that always use the same URL, should be published through some kind of "scheduler".

My concern is about publishing always a meeting for the ch

[2020-07-06 18:45] jespino commented on #134
@jasonblais some interesting ideas here and a legitimate use case that we have to decide how to address :point_up:

[2020-07-09 15:01] biva opened #135 "Ring / Notification to call somebody"
We really love your plugin, thank you so much!

A great additional feature would be to ring the contacts I want to call within Mattermost: for example, add a specific notification with sound to the persons I mention after /jitsi. For example:

`/jitsi @tom` would trigger a sound/notification on Tom's app.

Would it be possible?

[2020-07-09 15:04] biva opened #136 "Resize and move the Jitsi window within Mattermost"
I use your plugin heavily on the desktop version of Mattermost. I would love to be able to move the small Jitsi window where I want (like a floating window). The only possibility now (as far as I understand) is to open it in a browser. I'd like to remain within Mattermost, it's more reactive and more integrated.

In addition, it would be great to be able to resize the Jitsi window at the size I wa

[2020-07-09 15:09] jespino commented on #135
Hi @biva thanks for your feedback, really appreciated.

Technically is possible (not for mobile yet, but for the desktop/web app).

The proposed interface shouldn't work because `/jitsi @tom` would created a `@tom` named meeting room.

Maybe we can create a `/jitsi ring @tom` command to send the jitsi meeting link to tom in a direct message and start reproducing a "ring tone" there (Actually we ca

[2020-07-09 15:13] biva commented on #135
Great, thanks a lot for your quick feedback, I totally agree with everything you write :) The single precision I'd like to make is that in our organisation, we disable every notification. So the Jitsi ring would be the single notification we accept. As a conclusion, we cannot rely on a notification that would be triggered only by a direct message, because we disabled notifications for direct messa

[2020-07-09 15:18] jespino commented on #136
Hi, yes, you are right, both options are not possible yet. This was a first beta version of the embedded mode and the plan is to improve that in the future. Now you can have the minimized view, and the maximized view, and you can move it to the top or to the bottom, but that's all. Moving arround the window is something that I had in mind, and we have to decide when to do it. Allow you to resize t

[2020-07-09 15:21] jespino commented on #135
Yes, i was thinking in a "ring tone" not a notification sound. Then you can have jitsi as a regular videoconference tool, and at the same time something like a "phone call".

[2020-07-10 10:11] DVTrast opened #137 "Jitsi-Plugin v2.0.0 doesn´t start"
**Mattermost Version: 5.24.2**

**Jitsti-Plugin Version: 2.0.0**

**Describe the issue**
When I upload the tar.gz file and enable the jitsi plugin, I got the following error:
failed to ensure jitsi bot user.: failed to set profile image: SetProfileImage: Couldn't upload profile image.
I checked the user´s in the mysql database - the jitsi user is in there. The profile image is also in the director

[2020-07-10 10:43] jespino commented on #137
Looks like the plugin is not able to set your bot user profile image, can you verify if you are able to manually set your user profile image? Can be something related to permission in your filesystem or configuration of your S3 bucket.

[2020-07-13 09:10] DVTrast commented on #137
Thank you for your answer. I´m able to change my profile image. Do you have any other idea?

[2020-07-14 08:12] jespino commented on #137
Looks like a permission problem with the filesystem or something like that. The plugin is trying to write the profile image for the bot but is not being able to do it. Can you ensure that all the permissions of all the files on the mattermost directory? Are you using S3/Minio?

[2020-07-14 22:11] marietta commented on #121
Hello, I experience the same using the desktop app on Linux.
The developer console shows this: [features/desktop-picker] Called JitsiMeetElectron.obtainDesktopStreams but it is not defined
I hope this helps.

[2020-07-15 08:44] DVTrast commented on #137
We found the problem: the file /opt/mattermost/data/users/cbyau6cxhb83mcs7rbrk54a5sc/profile.png belonged root.
Thank you for your help.

[2020-07-15 21:36] jasonblais commented on #134
cc @aaronrothschild ^

[2020-07-18 20:21] clevrtec opened #140 "Mobile URL handling"
This is a good improvement, really appreciate the work on it.  Before I have my team start doing work on this, has anyone looked at Jitsi URL registration handling?  I know on iOS it's just `org.jitsi.meet://` vs `https://` to open directly in the Jitsi app.

[2020-07-21 21:44] mickmister opened #141 "Use SiteURL for all calls from the webapp"
If the server's SiteURL is configured with a subpath, the webapp's API calls do not work. The task here is to make this plugin's client to prefix its URLs with the SiteURL.

Here's an example of how the SiteURL may be computed:
https://github.com/mattermost/mattermost-plugin-jira/blob/19a9c2442817132b4eee5c77e259b80a40188a6a/webapp/src/selectors/index.js#L13-L26

[2020-07-24 07:20] jurgenhaas opened #142 "Screen sharing popup broken in Ubuntu desktop app"
**Mattermost Version** 5.24.2

**Plugin Version** 2.0.0

**Describe the issue**

When clicking bottom left to share screen on Ubuntu desktop app (version 4.5.2) the popup dialog opens but doesn't show any content other than the 2 tabs and a spinning wheel.

Doing the same thing in the browser works just fine.

**Server Error Logs**

n/a

**Desktop App Error Logs**

Looking at the console of the de

[2020-07-24 09:16] jespino commented on #142
@jurgenhaas thanks for the bug report, this is related to mattermost-desktop app, and the restrictions applied by electron. Our mattermost-desktop team is working on solving it, is going to be solve as part of a future version of mattermost-desktop (If we are  lucky, in the next one).

[2020-07-31 10:20] setpill opened #143 "Set users to Do Not Disturb when in jitsi"
It would be nice for users' status to be changed while they are in a jitsi meeting via this plugin. Perhaps if they use the embedded view?

[2020-07-31 10:27] jespino commented on #143
Yes, it sounds really interesting, what do you think @aaronrothschild?

[2020-07-31 10:27] jespino commented on #143
Probably it should be configurable.

[2020-08-13 17:05] jasonblais commented on #140
@jespino / @aaronrothschild on above

[2020-08-13 17:05] jasonblais commented on #140
Thanks @jeff-mccoy flagging this and for your interest to work on this plugin :)

[2020-08-13 17:26] jespino commented on #140
@jeff-mccoy really cool improvement, that works on android too. My concern is about handling it with other clients (for example text based clients, or after the plugin is disabled). We can mitigate that registering the protocol in the desktop app, and probably adding a config flag to enable/disable this feature. This is only going to be part of the slack attachment alternative view, not the regula

[2020-08-13 17:30] jeff-mccoy commented on #140
That seems reasonable, we have a little over 50k users across a few different Mattermost instances with Jitsi deployed in K8s per-env, so we can generate plenty of test data for this as well.

[2020-08-14 09:53] jespino commented on #140
@jeff-mccoy great, feel free to send a PR with a initial proposal and we can iterate over that.

[2020-09-03 14:37] aaronrothschild opened #151 "Telemetry: Report if plugin uses a server value other than default (meet.jit.si)"
Froma product perspective, I would like to better understand how many people use their own jitsi infrastructure vs the public server out of the box.

[2020-09-09 20:29] hanzei opened #152 "Add autocomplete icon"
Since v5.24 slash commands can provide an `svg` via  `AutocompleteIconData` in `model.Command` that is then shown in the autocomplete list. This ticket is about adding the icon in `assets` to the slash command.

Include screenhots from a dark and a bright theme in the PR description, as there might be the need for a separate icon with a white background for autocomplete.

Similar PRs:
For GitHub p

[2020-09-29 17:01] mhamiltonj commented on #142
Any timeline for a fix on this? I have the same issue with the desktop client on windows. We're moving our organisation onto Mattermost, the jitsi integration was a part of the rational, but it's not the best user experience if screen sharing appears to be available but doesn't work.

[2020-10-01 15:55] mhamiltonj commented on #121
Is there any progress towards resolving this? It's kind of unintuitive to tell users that there's a share screen button, but you can't use it unless you hit another button to open the conference in a browser first.

[2020-10-02 09:27] Willyfrog commented on #121
we are currently working on a major architectural change on the desktop to allow native modules, which will make possible to add https://github.com/jitsi/jitsi-meet-electron which might help with the jitsi experience

[2020-10-03 12:27] hanzei opened #153 "Command responses don't get posted in the RHS"
Running a slash command in the RHS should post the response there.

See https://github.com/mattermost/mattermost-plugin-github/issues/364 for a similar bug.

[2020-10-04 17:49] DHaussermann opened #154 "golangci-lint error"
**Mattermost Version**
5.28 Release branch

**Plugin Version**
Master branch `commit aff3c14`

**Describe the issue**
I see a golangci-lint  error when I try running the full `make`

[code]

[2020-10-05 08:54] mhamiltonj commented on #121
OK, thank's for the update.

[2020-10-05 09:22] #98 closed

[2020-10-05 18:17] tw-ayush commented on #154
Can you please assign this issue to me.

[2020-10-05 21:01] philipreimer opened #156 ""floating" jitsi window is too small to display all buttons"
**Mattermost Version**
 5.26.2

**Plugin Version**
jitsi - 2.0.0

**Describe the issue**
The small "floating" jitsi window is too small to display all relevant buttons - at least in the German translation.
The maximize button is mashed up with the header.
The audio and video buttons are barely visible.

**Server Error Logs**

**Google Chrome Error Logs**

**Screenshots**
![jitsi-floating-window](h

[2020-10-06 05:30] tw-ayush commented on #153
hey can you elaborate a little more on the issue?

[2020-10-07 09:04] #154 closed

[2020-10-07 10:25] hanzei commented on #153
Sure. If a user runs e.g. `/jitsi help` in a tread in the Right Hand Site, the response will be posted in the center channel. This ticket is about changing the behaviour to also post in the RHS.

[2020-10-07 19:17] tw-ayush commented on #153
Apologies if i'm getting into too much details here... but can you tell me which of these parameters needs to be added in the request?

[code]

[2020-10-08 10:38] hanzei commented on #153
No problem @tw-ayush. Feel free to ask any questions you need to work on this ticket.

`RootId` is the field that controls to which thread a post it tied to.

[2020-10-08 13:18] cksharma11 commented on #141
@mickmister Can you please elaborate this?

[2020-10-08 16:03] mickmister commented on #141
Hi @cksharma11! Thanks for your interest in this ticket! Hopefully this explanation is helpful.

By default, requests from the frontend to the server are not prefixed with any host. For example, a fetch request like `fetch('/api4/users')` will be sent to `/api4/users`. One problem this has is if the server is being hosted on a subpath, or for some reason the server's [SiteURL](https://docs.matterm

[2020-10-09 06:45] cksharma11 commented on #141
@mickmister Thank you for the explaining :) it's much clear now

[2020-10-10 16:45] tw-ayush commented on #153
hey can [this](https://github.com/mattermost/mattermost-plugin-jitsi/blob/14107b6a514180ca0867761c0cba72bcc77518ac/server/plugin.go#L204) be the issue ?

[2020-10-20 17:38] tw-ayush commented on #152
@hanzei can you assign it to me

[2020-10-21 10:37] hanzei commented on #152
Sure

[2020-10-22 09:43] mhamiltonj commented on #135
This would be an excellent feature. Would be nice not to open a room and hope the person you're calling checks their messages.

[2020-10-22 09:46] hanzei opened #160 "Meeting announcement created from ephemeral post doesn't post in RHS."
While testing https://github.com/mattermost/mattermost-plugin-jitsi/pull/158, I found one uncovered edge case: If the naming schema is set to `ask`, the ephemeral message generated when typing `/jitsi start` is correct posted in the RHS, but the following meeting isn't.

[2020-10-22 18:00] tw-ayush commented on #160
So the meeting-id passed in as argument will get updated here
https://github.com/mattermost/mattermost-plugin-jitsi/blob/master/server/plugin.go#L227

as jitsiNameSchemeAsk is not a case here.

do you think a new case should be added to it???

[2020-10-31 03:34] eyebank opened #161 "jwt"
decided against using the public jitsi server. our installation functions mattermost, however id like use jwt tokens and have failed numerous times.

is there a specific jwt walkthrough for MM users with on-prem jitsi server? if so, please share.

[2020-10-31 03:43] eyebank opened #162 "changing meeting password"
i noticed that if a password is assigned to a meeting, any other user in the meeting may change the meeting password - possibly hijacking the meeting. is there a setting to prevent this?

[2020-10-31 07:59] jespino commented on #161
Actually, not specific for Mattermost. In mattermost you only have to set the jwt information to match the information of your JWT in Jitsi. In theory this is the documentation to make it work https://github.com/jitsi/lib-jitsi-meet/blob/master/doc/tokens.md

But is not an easy task, have some requirements on lua libraries that are a bit unmaintain, so... It is tricky to get correctly setup.

[2020-11-02 22:23] hanzei commented on #160
That `switch` only takes care what meeting topic to use. I think my comment [here](https://github.com/mattermost/mattermost-plugin-jitsi/pull/158#issuecomment-708325069) should guide you into the right direction.

[2020-11-03 10:17] #152 closed

[2020-11-05 15:57] eyebank opened #163 "restricting access for MM only"
Hello All:

At this point jitsi is setup and is working within mattermost and outside mattermost.

I would like to limit access to within mattermost only - thereby disabling direct access via the url: (example: meeting.johnson.com).

Any ideas or helpful hints.

[2020-11-05 15:59] eyebank opened #164 "feature request: Add End Meeting button"
Please consider an END MEETING button within the mattermost chat channel.

Thanks

[2020-11-11 10:10] PxBCPG commented on #164
Hi !
Can you implement a call notification in the plugin ?
Thank you very much,
BCPG

[2020-11-11 22:32] DHaussermann opened #165 "Jitsi text is missing white space when plugins are icons are in collapsed list"
When Jitsi is enabled along with several others, there is missing white space between the plugin icon and title.

![Screen Shot 2020-11-11 at 5 29 25 PM](https://user-images.githubusercontent.com/35588783/98871992-d29f5c00-2443-11eb-9cb1-325942890ff9.png)

This issue was recently resolved for MS Teams calling here:  https://github.com/mattermost/mattermost-plugin-msteams-meetings/pull/27

[2020-11-17 16:02] hanzei opened #166 "Release v2.1.0"
- [x] https://github.com/mattermost/mattermost-plugin-jitsi/issues/165
- [x] https://github.com/mattermost/mattermost-plugin-jitsi/issues/141
- [x] https://github.com/mattermost/mattermost-plugin-jitsi/issues/198
- [x] https://github.com/mattermost/mattermost-plugin-jitsi/issues/153
- [ ] https://github.com/mattermost/mattermost-plugin-jitsi/issues/183
- [ ] https://github.com/mattermost/mattermos

[2020-11-19 18:48] mpietruschka opened #167 "Notification when someone Joins the room."

[2020-11-19 18:50] mpietruschka commented on #167
We try to create kind of an open meeting-point and would love, when there would be a wai to see notifications in Mattermost, when someone has joined.

[2020-11-20 14:32] dpanic commented on #120
Yes it is MacOS thing...App needs to be signed with entitlements

https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_security_device_camera
https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_security_device_microphone

[2020-11-21 20:40] tw-ayush commented on #160
Okay this now confuses me, the RootId is passed as empty string for both the cases and the code executes the same line/request for both the cases then what causes  the problem here??

[2020-11-22 11:47] PxBCPG opened #168 "New idea for the plugin"
# New idea for the plugin
I got an idea of improvement for the Jitsi plugin, especially for the call button.
When you currently click on that button, it create a banner in the channel messages. But the problem with that banner is that when you will add some messages, the banner will "disappear" because of the number of messages posted. And the Jitsi call button always link you to the channel Meeti

[2020-11-22 14:22] prodigy7 opened #169 "Integration doesn't work"
**Mattermost Version**
v5.24.1

**Plugin Version**
v2.0.0

**Describe the issue**
Integration with jitsi doesn't work. So far all parameters are configured but when I call /jitsi, i got only the message "Received invalid response from server". Same time I see the following stacktrace.

**Server Error Logs**
[code]

**Additional context**
Jitsi is configured for authentication with ldap. It also ru

[2020-11-23 12:14] olivierlambert opened #170 "Allow to overwrite pre join page inside Mattermost"
With Jitsi, you can add a "Pre join page", very useful to let people decide about the webcam/microphone enabled or not.

If you enable this in Jitsi, then the Mattermost small overlay window is too small to be able to read it. But I think an easy way would be to add a checkbox in the plugin to overload the Jitsi server config, like this:

[code]

This way, people on Mattermost won't have this pre

[2020-11-23 12:15] hanzei commented on #160
https://github.com/mattermost/mattermost-plugin-jitsi/blob/14107b6a514180ca0867761c0cba72bcc77518ac/server/api.go#L232 is the line that get executed when a meeting is started after a naming schema was requested. Right now it simply uses an empty rootID. You need to store the rootID into the request context(https://github.com/mattermost/mattermost-plugin-jitsi/blob/d533d34c9b376b3b273b452f44d0fefea

[2020-11-24 01:06] pandel opened #171 "What happens *exactly* when clicking on "Join Meeting"?"
Hi!

Sorry for the somewhat strange question. I try to describe what I want to know and why:

(We use Mattermost desktop client under Windows.)

In our environment different browsers are being used for different use cases. The browser that should start for a single use case is being controlled via different URL protocols, i.e. `http://` and `https://` open (an extremely cut down version of) Firefo

[2020-11-25 15:22] 3mdf1v3 opened #172 "Impossibile to activate mattermost-plugin-jitsi v2.0.0"
**Mattermost Version**
4.6.0

**Plugin Version**
v2.0.0

**Describe the issue**
Impossible to activate plugin mattermost-plugin-jitsi v2.0.0 (https://github.com/mattermost/mattermost-plugin-jitsi) because it can find ./plugins/jitsi/webapp/jitsi_bundle.js

**Server Error Logs**
[2020/11/25 15:11:52 UTC] [EROR] unable to read webapp bundle: jitsi: open ./plugins/jitsi/webapp/jitsi_bundle.js: no suc

[2020-12-01 09:33] 3mdf1v3 commented on #172
Update to version 5.29.0 revolve this issue.

[2020-12-01 09:33] #172 closed

[2020-12-19 20:17] aryoprakarsa opened #175 "Cannot install Received invalid response from the server."
**Mattermost Version**
5.30.1

**Plugin Version**
2.0.0

**Describe the issue**
When the plugin are uploaded an error occurred:
`Received invalid response from the server.`.

**Server Error Logs**

**Google Chrome Error Logs**

**Screenshots**
![Screen Shot 2020-12-20 at 03 15 14](https://user-images.githubusercontent.com/30886148/102698685-d196f100-4271-11eb-865b-4e8c8e0e49e7.png)

**Additional c

[2021-01-12 05:52] bill2004158 commented on #175
it seems issue related to upload feature, rather than problem of mattermost-plugin-jitsi.
I have meet same issue before. in my case, it is because the max size limitation for http post.
after I changed increase that limitation, then upload works.

[2021-01-13 16:07] larkox commented on #121
Tracked here: https://mattermost.atlassian.net/browse/MM-27253

[2021-01-13 17:44] gamersalpha opened #176 "Features - VOice Channel - Like discord do"
Hello there,

can u add a beautifull things, like a voice channel, like do discord ?

thanks

[2021-01-13 20:53] #109 closed

[2021-01-19 14:10] larkox commented on #133
@jasonblais Should we mark this issue as solved, or do we want to look for other solutions?

[2021-01-19 14:20] aaronrothschild commented on #136
No strong opinions here, I think it makes sense for our desktop client to be used with the PIP window - and it should be moveable so it doesn't block text, etc.

[2021-01-19 14:23] #137 closed

[2021-01-19 14:26] larkox commented on #140
Hi @jeff-mccoy ! Have you looked into this? Are you planning to send a PR?

If you are not able, please let me know, so I can make this a help wanted ticket. :smile:

[2021-01-19 14:27] larkox commented on #142
Duplicate of #121

[2021-01-19 14:27] #142 closed

[2021-01-19 14:31] larkox commented on #151
The idea here is to use the [telemetry package](https://github.com/mattermost/mattermost-plugin-api/tree/master/experimental/telemetry) to add this telemetry.

[2021-01-19 14:33] larkox commented on #156
@aaronrothschild any thoughts on how should we approach this?

[2021-01-19 14:34] larkox commented on #161
@eyebank is your question answered? Or are you still having trouble?

[2021-01-19 14:37] larkox commented on #168
@PxBCPG is there any chance this is a duplicate of https://github.com/mattermost/mattermost-plugin-jitsi/issues/134 ?

[2021-01-19 14:39] larkox commented on #170
@aaronrothschild thoughts on this?

[2021-01-19 14:45] larkox commented on #171
In theory, when you click the link, it checks if it should open the meeting embedded, or in a new window. If it has to open the meeting in a new window, it should just open a new window (using `window.open(meetingLink, '_blank')`. That is all the plugin does. Does this bring some light to the matter?

[2021-01-19 14:51] larkox commented on #175
@bill2004158 is right. I created https://mattermost.atlassian.net/browse/MM-32154 . Since this is a problem with Mattermost and not the plugin, I will close this issue.

[2021-01-19 14:51] #175 closed

[2021-01-19 15:24] philipreimer commented on #156
It has actually become worse. Now there are no visible buttons except for copying the meeting link.

![screenshot](https://user-images.githubusercontent.com/5737222/105054712-99522080-5a72-11eb-8650-17792e8aa0a3.png)

[2021-01-19 15:45] jespino commented on #156
Whenever is released the new version is going to have some extra space. But we have to talk with Jitsi people to make it work better in this kind of small windows. The styling depends on the Jitsi code, we started to add changes to make more responsive to small sizes, but there is still work needed.

[2021-01-19 23:41] jasonblais commented on #133
We can close this particular issue, but it would be good to improve the UI of the minimized view. I would defer to @aaronrothschild on its priority though.

Curious if the plugin uses a version of Jitsi that contains the changes Jesús submitted?

[2021-01-20 09:44] larkox commented on #133
@jasonblais after double checking, it seems that it is not, and there are a few other minor improvements ready. @aaronrothschild Should we consider a release? Probably v2.0.1.

[2021-01-21 16:42] aaronrothschild commented on #133
Yes, let's plan to release it in February after the plugins we are trying
to get published are done, etc.

On Wed, Jan 20, 2021 at 1:45 AM Daniel Espino García <
notifications@github.com> wrote:

[2021-01-25 17:58] aaronrothschild commented on #170
I like this idea, makes sense and is good how it treats MM users vs External users.  It would get tiring if this screen was shown to internal users.

[2021-01-26 23:17] c-goes opened #178 "Support for jitsi-token-moderation-plugin?"
Not everyone should be able to get moderator privilege in Jitsi Meeting. This information could be written in the token body like used by this Prosody plugin: https://github.com/nvonahsen/jitsi-token-moderation-plugin. This could be based on LDAP group membership or something else.
Is this something that is already supported or is this the right place to ask?

[2021-01-29 11:11] larkox commented on #170
I think this screen in general has some value, since allows you to check everything is working fine before entering the meeting. I wonder if we should make this configurable (either by user or by installation). What do you think?

[2021-01-29 11:13] olivierlambert commented on #170
That was exactly my point in my original post :wink:

[2021-02-03 11:14] sigboe commented on #134
@jespino What about adding an other button next to the `Start Jitsi Meeting` button, so you have one for `Start Jitsi Meeting` and one for `Start Ad-hoc Jitsi Meeting`. I would suggest the current icon being used for the new feature, and the current functionality getting a new icon with maybe something like a star in it? Or the other way around.

We also use static meeting room names for different

[2021-02-15 16:35] BananaAcid commented on #135
What is the current state? Anything I could help on testing?

[2021-02-16 11:22] larkox commented on #135
@BananaAcid Right now the feature is open for contributions, but so far no one has taken it. If you are interested in developing it, you are more than welcome :smile:

[2021-02-16 15:37] alefattorini commented on #120
Any news on this? It's a bit confusing switching to the web version in order to use the jitsi plugin

[2021-02-16 16:00] amyblais commented on #120
Unsure if it helps, but in desktop app v4.6.2 we fixed an issue where macOS entitlements had not been enabled for using camera and microphone on the Desktop App for third-party plugins such as Jitsi -- https://docs.mattermost.com/help/apps/desktop-changelog.html#release-v4-6

[2021-02-19 01:34] frakman1 opened #179 "Can't Enable/Activate Plugin - No Jitsi app ID was provided"
**Mattermost Version**
MM_VERSION=5.31.0

**Plugin Version**
Jitsi (jitsi - 2.0.0)

**Describe the issue**
After installing the plugin, When I try to enable the plugin through the Plugin Manager, I get this error:

![image](https://user-images.githubusercontent.com/5826484/108444088-f125a800-7227-11eb-838c-500ef512f0b7.png)

**Server Error Logs**
[code]

It used to work until I upgraded my Free ve

[2021-02-19 21:04] dpanic commented on #120
QA in my company tested, and it still doesn't work unfortunately

On Tue, Feb 16, 2021 at 5:00 PM Amy Blais <notifications@github.com> wrote:

[2021-02-23 22:16] estebanz01 commented on #120
I confirm that updating to version 4.6.2 works. I needed to reinstall the app (delete it and add new version) so the permissions can work.

[2021-03-05 10:11] jwillmer opened #183 "JWT Configuration with Jaas"
I like to try the payed service at https://jaas.8x8.vc but I don't understand how I need to setup the authentication. I found the App ID but I can't find the JWT token secret. Is there some trick or is this service not supported?

[2021-03-07 14:51] kassle opened #184 "Add features option in JWT payload"
Some features in jitsi-meet is configurable from JWT payload. one of them is the "screen-sharing" which is very important, and jitsi-meet will disable the screen-sharing when not configured in JWT payload.

https://community.jitsi.org/t/how-can-i-enable-shared-screen-for-moderators-using-jwt/83834/3

it would be nice if this beloved plugin support adding features in JWT payload

[2021-03-18 21:04] axac commented on #179
i have the same problem. but in a new installation on yunohost

[2021-03-18 22:51] frakman1 commented on #179
Make sure "Use JWT Authentication for Jitsi" is set to False in the Plugins Settings page.

[2021-03-19 08:40] axac commented on #179
@frakman1 thanks. Yes its good. I installed other plugins for test and i have the same problem. I think its my mattermost installation. thank you very much !.

[2021-04-01 13:44] mrichez opened #187 "Feature: Deeplinks support"
Hi,
Just installed https://github.com/jitsi/jitsi-meet-electron
which has support for deeplinks:

Could the plugin allows to generate links with deeplinks (configuration parameter) to prevent to use browser by default  with jitsi and use the electron app instead.
Thanks!

[2021-04-20 09:35] olivierlambert opened #188 "Update custom status when joining a Jitsi meeting"
Since 2 Mattermost release, you can set a custom status. That would be nice to automatically update that status when joining a meeting (eg with a phone emoji), so others will know you are busy.

Or even easier, add the Do Not Disturb status.

[2021-04-23 06:22] andzejsp opened #189 "Embed window share screen don't work on windows 10 mattermost desktop client"
**Mattermost Windows 10 desktop client Version**
4.7.0-rc2 commit 7b2164f... cant read it in the client and there is no option to copy/paste the version number.

**Mattermost Version**
Mattermost Version: 5.34.1
Database Schema Version: 5.34.0
Database: postgres
Build Hash: fd6693ff5da7e0672269ada78c3e3d408e193e98
EE Build Hash: 2c294523d63cb5947ffa657f2696433772ee9746
Webapp Build Hash: 68476db78

[2021-04-23 06:39] andzejsp opened #190 "Request for feature: End meeting button and jibri integration to show the recording of the meeting"
**Not an issue but a request for feature**
It would be a great feature to be able to end meeting in mattermost channel by pressing the button next to the Join meeting and it automatically ends the jitsi meeting conference, and restricts acces to that link like JWT expiration and also if jibri is set up then it looks up the recorded file and adds it to the post and also you would be able to view a

[2021-04-24 11:08] andzejsp commented on #176
I think that this would be more realistic to do inside mattermost server app itself, because jistsi is just a standalone service that you connect to using a browser type thing from a link posted on mattermost.

If it was that easy then we would already have discord-opensource repo somewhere around here, but we dont :)

[2021-04-28 02:03] rohit-karthik commented on #189
Seems like this is an issue from before... any update? https://github.com/mattermost/mattermost-plugin-jitsi/issues/121

[2021-04-29 14:19] biva commented on #135
Hello, any news on this? We're forced to use Teams for now, and we'd love to use Jitsi to make calls with rings :)

[2021-05-11 11:13] Joshndroid opened #191 "Hoster disconnected when other person connects"
Using latest mattermost version - team  5.35.0
Using latest jitsi plugin -  2.0
Using latest jitsi
Using ubuntu server 20.04
Using latest jitsi app - 2.1.1.0 build 7280253
Using latest mattermost Android app 1.42.1
JWT auth is not enabled in plugin
Within jitsi auth is not further enabled

I have a fresh setup of jitsi in a vm, with mattermost in a docker container. Mattermost has been working gre

[2021-05-27 11:37] hanzei commented on #189
Closing as duplicate of https://github.com/mattermost/mattermost-plugin-jitsi/issues/121

[2021-05-27 11:37] #189 closed

[2021-05-27 11:38] hanzei commented on #191
Do you experience the same issue when accessing jitsi via the browser directly?

[2021-05-27 11:40] hanzei commented on #187
On what kind of configuration parameter would the decision be based on? Global? Per user?

[2021-05-27 11:41] hanzei commented on #183
@jespino Can you help with this?

[2021-05-27 11:42] hanzei commented on #179
Disabling JWT authentication should resolve the issue. Closing.

[2021-05-27 11:42] #179 closed

[2021-05-27 11:46] hanzei commented on #169
@prodigy7 Can you reproduce the issue with a newer version of Mattermost?

[2021-05-27 11:47] hanzei commented on #168
Duplicate of #134

[2021-05-27 11:47] #168 closed

[2021-05-27 11:48] hanzei commented on #167
What is the use case of this feature?

[2021-05-27 11:49] hanzei commented on #164
IMO there is no such things as an "ended meeting" in jits. Rooms are open as long as there is someone in there. What would such button do?

[2021-05-27 11:50] hanzei commented on #163
Does the JWT authentication solve your use case?

[2021-05-27 11:50] hanzei commented on #162
Does jisi has support for such feature?

[2021-05-27 11:51] #161 closed

[2021-05-27 11:53] hanzei commented on #188
Duplicate of #143

[2021-05-27 11:53] #188 closed

[2021-05-27 11:53] hanzei commented on #143
Should use custom status: https://github.com/mattermost/mattermost-plugin-jitsi/issues/188

[2021-05-27 11:56] #133 closed

[2021-05-27 11:57] hanzei commented on #120
@dpanic Did you test after reinstalling the app?

[2021-05-27 12:14] larkox commented on #183
We have a PR open to integrate with JaaS. I will keep you posted when we get the new release out with those changes.

[2021-05-27 13:14] mrichez commented on #187
Per user seems more logical, to use app if installed on user's computer.

[2021-05-27 15:39] PxBCPG commented on #164
Something which will close the call, and which will remove the "join meeting" button.

Let's take an example with 2 people (A and B):

A start the call
B Roger the call (with a real notification, not just like a post, otherwise you don't see the call in channels)
Calling...
End of call
A click on the "End meeting" button, but B doesn't have this button (only the meeting creator can end it)
No more

[2021-05-28 07:42] dpanic commented on #120
Will retest. It didn't worked than (around March this year)

![Screenshot from 2021-05-28 09-39-59](https://user-images.githubusercontent.com/346557/119948272-f453d100-bf98-11eb-8f2a-26177e17cfc9.png)

[2021-05-31 12:06] mpietruschka commented on #167
Houseparty like meetings?

[2021-05-31 12:12] hanzei commented on #167
My concerns is that it might be to spammy. Would the recipient of these messages be the whole channel or just the creator of the meeting?

[2021-06-01 07:39] larkox commented on #120
@Willyfrog Any thoughts on this?

[2021-06-04 09:01] Willyfrog commented on #120
if you never got any permission request might be because you already especified those permissions in the OS settings? that happened to me on big sur, if I chose not to permit access, I'd have to go to system preferences -> security & privacy -> camera and allow mattermost to use it. On catalina the path might be different.

[2021-06-17 17:32] #165 closed

[2021-06-23 13:01] mpietruschka commented on #167
Well, when you are able to enable or disable this feature, then this is an active decision and should bother anybody.

Furthermore members are able to turn a mattermost channel quiet.

[2021-07-07 11:53] biva commented on #135
Hello @jespino @aaronrothschild Did you make any progress on this feature? Thanks :)

[2021-07-08 16:35] aaronrothschild commented on #135
@biva there are no current plans to work on this feature, unfortunately.  While I don't like that you need to use MS teams for calling, as an FYI, there is also an MS Teams Plugin you can use with Mattermost to make meetings 1-click.

[2021-07-09 07:47] #143 closed

[2021-07-09 18:56] BananaAcid commented on #135
We came from Skype, were checking out Mattermost and have the same problem as @biva

[2021-07-12 18:22] #151 closed

[2021-08-02 09:11] #131 closed

[2021-08-02 22:54] skin-soc opened #198 "Option: Pass Mattermost username as display name in Jitsi Meeting by default"
It would be great in the next update of this plugin if you could **pass Mattermost username by default** as display name on Jitsi Meeting when creating a new meeting as described [here](https://community.jitsi.org/t/jitsi-meet-displayname-via-url-param/32281)

meet.jit.si/meeting-refererence#userInfo.displayName="$username"

[2021-08-26 16:34] jimthedj65 opened #200 "Upgraded Mattermost to 5.37.1 Jitsi Cam Icon Disappeared"
**Mattermost Version** 5.37.1

**Plugin Version** 2.0.0

**Describe the issue**
after the upgrade of mattermost the jitsi plugin camera icon disappeared /jitsi still works

**Server Error Logs** nothing significant reported n the logs

**Google Chrome Error Logs** no icon present inside the mattermost app or browsers. Developer tools shows an error for jitsi
`index.js:53 Unable to load bundle for

[2021-08-30 11:31] larkox commented on #200
@jimthedj65 I have tried on my local, and everything seems to work as expected. Any other details you could add that may help debug this?

Have you tried to disable the plugin and enable again? (or disable the channel export plugin, which seems to be the one appearing in the errors)

[2021-08-31 02:45] maisnamrajusingh commented on #121
@larkox  is this issue resolved or can I work on it?

[2021-08-31 07:55] larkox commented on #121
@maisnamrajusingh This is still open. Please sync with @Willyfrog , since he was the last one to look into this.

[2021-08-31 14:35] Willyfrog commented on #121
For this to work we need to have native modules being able to be shipped with the app. We have attempted a few times and seems we get closer each time but no luck yet.

[2021-09-01 11:52] jimthedj65 commented on #200
I disabled jitsi and noting changed, when I disabled the export plugin and jitsi same time and then enabled again it came back.

please let me know if there is anything else I could provide and thanks for the response, much apprecated.

[2021-09-01 12:15] larkox commented on #200
@agarciamontoro Any ideas why the channel export plugin may be giving problems here? If I remember correctly it has a dummy webapp component, but not sure why it is affecting.

[2021-09-01 13:03] jimthedj65 commented on #200
I had to enable jitsi first then verified it worked and then the export plugin.  I used the mattermost script to upgrade as I am on debian buster build. [https://mattermost.github.io/docs/4443/administration/upgrade-script.html](url)

[2021-09-01 14:35] agarciamontoro commented on #200
So, just to make sure: is it working now? I'm not sure I understood what happened after you re-enabled everything.

[2021-09-01 16:00] jimthedj65 commented on #200
yes, it worked after you recommended I turn off both plugins, I was just stating what sequence of events got it working.

1. I ran the upgrade script and all was fine
2. the next day the icon disappeared and wouldn't embed the video screen
3. Turning off jitsi plugin solved nothing
4. turning off the two plugins and then turning on first jitsi and then export plugin brought it back.

hope that hel

[2021-09-02 09:57] agarciamontoro commented on #200
Thank you for the clarification, @jimthedj65!

@larkox, should we close this and repone in case it happens again? It seems it's solved now.

[2021-09-02 10:07] #200 closed

[2021-09-08 13:59] dfun90 opened #201 "Feature: Schedule Meetings for a specific date and time"
**Mattermost Version**
5.38.2

**Plugin Version**
2.0.0

**Describe the issue**
As of right now you can only start normal meetings using the plugin. In certain situations you would like to schedule a meeting beforehand to a specific date and time. For this you could easily include a toggle "scheduled meeting" when creating a meeting using the plugin where you can specify the date, time and duratio

[2021-10-25 13:26] sibasankarnayak opened #202 "Cross-plugin task: Enable the CircleCI "test" job in each plugin repo that has a webapp plugin"
The .circleci/config.yml file needs to be updated to run the webapp tests in CI.

[2021-10-28 07:53] #202 closed, assigned to sibasankarnayak

[2021-12-03 08:41] jimthedj65 commented on #136
I would also welcome this capability. Sometimes the window blocks out links and text in the up or down position, it would be great to have it pop out to its own window and then the user can resize it. Possibly a choice inside the plugin settings for sizing as a first step.

[2021-12-03 13:34] 2br-2b commented on #162
That would require you to host your own Jitsi server. See the second point of https://jitsi.org/security/

[2022-01-17 13:22] gstlouisgit commented on #97
is this solved?  I have the same issue and its been a while...

[2022-01-18 08:00] thomas-mc-work opened #204 "Create new release"
**Describe the issue**

A new release would be lovely. The latest is from Jun 30, 2020 (18 months old as of 2022-01). There appears to be at least some activity in the commit log for 2021. So why should this progress being kept back to the users?

[2022-01-21 11:09] #141 closed

[2022-01-21 12:12] hanzei commented on #204
Thanks for the reminder @thomas-mc-work :+1:

Releasing a new version of a plugin requires a non-zero amount of work as the plugin must be tested and approved. The release l logistics also take time. There is a balance between shipping updates to users fast and spending that time to work on other features.

That being said, it's time for a new Jitsi release. There are currently two outstanding tic

[2022-01-24 19:44] hanzei commented on #204
Closing as a duplicate of https://github.com/mattermost/mattermost-plugin-jitsi/issues/166

[2022-01-24 19:44] #204 closed

[2022-01-25 06:28] #153 closed

[2022-01-25 14:38] #198 closed

[2022-01-25 19:35] shurrman opened #206 "Manual Build part is broken"
1. Clone the repo.
2. Read the Readme, "Manuals Builds" part
3. run `./docker-make`
4. get full buch of outdated warnings and eventually errors that break the build
Seems like totally outdated, at least what is Node-related

[2022-01-31 14:00] givors-anabasis opened #207 "[Feature Request] Endpoint for jitsi tokenAuthUrl"
**Mattermost Version**: 6.3

**Plugin Version**: 2.0.0

**Describe the issue**
There is no way to "login" as Host on an already existing jitsi room.

**Additional context**
Jitsi offers mechanism to ask to an authentication service for a JWT to connect to a room. As described here: https://github.com/jitsi/jitsi-meet/pull/728

The mechanism is as follow:
1. a user try to join some room on hxxps://

[2022-02-07 20:04] hanzei commented on #207
@givors-anabasis Should the MM server act as the JWT provider or another service?

[2022-02-07 20:22] givors-anabasis commented on #207
@hanzei My thought was that when the MM jitsi plugin was configured to be a JWT provider, then it would be natural to also be able to use it as a JWT provider for this use-case (since MM jitsi knows the app secret and id and provides the well formed valid JWT). No need to use any external service.

[2022-02-08 13:25] mrckndt opened #208 "[Feature Request] Adding options to disable video/audio on join by default"
In some situations it might be desirable to disable the microphone and camera by default. This should be possible with the url parameters described here https://jitsi.github.io/handbook/docs/user-guide/user-guide-advanced.

[2022-04-08 03:46] ngoan98tv commented on #178
Any progress on this, I'm looking for a solution for this too.
I think providing an option to add custom jwt payload can help. (#184)

[2022-04-11 07:33] lufty-demansol commented on #207
@givors-anabasis

I trying work on this issue.

Is there any jwt or other message that send to callback from jitsi?

[2022-04-12 12:28] maisnamraju commented on #207
@catalintomai @hanzei @givors-anabasis is 6) possible. I am not aware of any features that allow us to do the same. I had a call with @lufty-demansol and this is the part we couldn't figure out.

[2022-05-05 11:41] TiuDerca opened #213 "[Feature Request] button to open call in the application"
Create for deeplinks such as jitsi-meet://myroom

https://github.com/jitsi/jitsi-meet-electron

[2022-07-04 14:37] iwyz0 opened #218 "Mattermost 7 app jitsi problem"

[2022-07-05 15:54] devinbinnie commented on #218
This will need some work to mimic what Calls currently does for screen share. Happy to help out whoever plans to work on this :)

[2022-09-08 07:15] timowevel1 opened #221 "Jitsi not working - channel not found"
#### Summary
Once a user tries to start a meeting using the standard jitsi server, after clicking on "Join Meeting" the error
`
Channel Not Found
The channel you're requesting is private or does not exist. Please contact an Administrator to be added to the channel.`
appears.

#### Steps to reproduce
Start a Jitsi Meeting

#### Expected behavior
Not sure, I guess a meeting gets started/you get redi

[2022-09-17 11:31] arifulislamat opened #222 "Mattermost generating invalid JWT token"
**Mattermost Version**: 7.1.3 (Enterprise Edition)

**Plugin Version**:2.0.0

**Describe the issue**: JWT token isn't working. Jitsi is working fine with other software with JWT. The token generate from mattermost plugin has a **Invalid Signature** reported by jwt.io

**Server Error Logs**:
muc.meet.jitsi:token_verification                            error      Token  .... not allowed to join: adm

[2022-09-18 15:05] catalintomai opened #223 "MM-47046 Use version of React DOM provided by web app"
From [here](https://github.com/mattermost/mattermost-plugin-demo/pull/153):

"For some more context, see [here](https://community.mattermost.com/core/pl/1fkkx7pj1jrwffrc6drh3x71eh). The short version though is that we updated the web app to React 17, and there's a chance that plugins will have some issues with it because they're compiled with the React 16 version of ReactDOM. I'm submitting PRs to

[2022-10-04 03:33] mickmister commented on #223
Solved with https://github.com/mattermost/mattermost-plugin-jitsi/pull/224

[2022-10-04 03:33] #223 closed

[2022-10-05 05:59] x1h0 commented on #222
I had the same error and was able to bypass it for now by adjusting the envars at docker-jitsi-meet with:

`JWT_ENABLE_DOMAIN_VERIFICATION=0`

[2022-10-06 09:06] arifulislamat commented on #222
Thanks for your reply. I tried to added it on my .env file, didn't workout for me.
[code]
<img width="322" alt="image" src="https://user-images.githubusercontent.com/17812057/194272451-915d7868-17b4-43c0-aa54-a1037dee6589.png">

[2022-10-28 03:06] mickmister opened #225 "Release 2.0.1"
- https://github.com/mattermost/mattermost-plugin-jitsi/pull/224
- https://github.com/mattermost/mattermost-plugin-jitsi/pull/214

[2022-11-07 10:42] domibarton commented on #222
We do have on-prem hosting of Mattermost & Jitsi as well. As @arifulislamat, we get the same error:

[code]

I also tried setting `JWT_ENABLE_DOMAIN_VERIFICATION` as by @x1h0 suggested, but it didn't work:

Still the same error.

Environment:

- Official Jitsi Docker images
- Image version `stable-7882`
- Plugin version `2.0.0`

[2022-11-07 10:48] domibarton commented on #222
Stupid stupid me! I made a typo in the variable. Overriding `JWT_ENABLE_DOMAIN_VERIFICATION` worked!
Here are our .env overrides with `stable-7882`:

[code]

As well as these CI/CD variables:

![image](https://user-images.githubusercontent.com/4124099/200291672-346ed559-5851-4d49-9114-cd647c3cbdb7.png)

Please note we're simply fetching the origin Docker Compose & `.env` file and overriding what's

[2022-11-08 07:10] arifulislamat commented on #222
I gave it another try because it was working for you. It didn't work out for me, sadly. To match your version, I've also tried using an upgraded version of Jitsi.

However, this time I was able to discover exactly why it was giving me that **error**.

Mattermost generated token takes the Jitsi hostname and puts it on the subject, it looks like this:
https://github.com/mattermost/mattermost-plugin-

[2022-11-20 22:29] ilolis commented on #135
Any news? This is a deal-breaker for many people who want to ditch Teams/Slack.